:root {
  --color-primary: rgb(255, 255,255);
  --color-secondary: rgb(255, 255,255);
  --color-background: rgb(255, 255,255);
  --color-shadow: rgb(255, 255,255);
}

[data-theme=sunshine] {
  --color-primary: #f09104;
  --color-secondary: #e418eb;
  --color-background: #f0910495;
  --color-shadow: #fa8e02bf;
}

[data-theme=happy] {
  --color-primary: #53c9d1;
  --color-secondary: #66a6ff;
  --color-background: #53c9d195;
  --color-shadow: #48a8afbf;
}

[data-theme=deep] {
  --color-primary: #6a11cb;
  --color-secondary: #2575fc;
  --color-background: #6a11cb95;
  --color-shadow: #5d10afbf;
}

[data-theme=dark] {
  --color-primary: #434343 ;
  --color-secondary: #000000;
  --color-background: #43434395 ;
  --color-shadow: #434343bf;
}

[data-theme=gray] {
  --color-primary: #29323c ;
  --color-secondary: #485563;
  --color-background: #29323c95 ;
  --color-shadow: #29323cbf ;
}

[data-theme=salad] {
  --color-primary: #96f7cb ;
  --color-secondary: #50A7C2;
  --color-background: #96f7cb95 ;
  --color-shadow: rgba(143, 219, 185, 0.749) ;
}

/* Utilisation des variables */
.bg-clip {
  background: linear-gradient(45deg, var(--color-background) 0%, var(--color-secondary) 100%);
}

.text-clip {
  background: linear-gradient(235deg, var(--color-primary) 0%, var(--color-secondary) 100%);
  background-clip: text;
  color: transparent;
}

.text-color1 {
  color: var(--color-primary);
}

.text-color2 {
  color: var(--color-secondary);
}

.customBorder {
  border: 1px solid var(--color-secondary);
}

.filterShadow {
  filter: drop-shadow(1px 1px 3px var(--color-shadow));
}

.customShadow {
  box-shadow: 0px 5px 8px 2px var(--color-shadow);
}

.customShadowXl {
  box-shadow: 0px 7px 30px 12px var(--color-shadow);
}

.bottomShadowL {
  box-shadow: 5px 0px 3px 0px var(--color-primary) inset, 0px 5px 3px -2px var(--color-primary);
}

.bottomShadowR {
  box-shadow: 5px 5px 3px 0px var(--color-primary);
}

h1 {
  font-size: clamp(32px, 22px + 2.2vw, 60px);
  letter-spacing: calc(1px + 0.1vw);
  font-weight: bold;
  font-family: "Labrada";
}

h2 {
  font-size: clamp(23px, 18px + 1.65vw, 40px);
  letter-spacing: calc(1px + 0.035vw);
  font-weight: bold;
  font-family: "Labrada";
}

h3 {
  font-size: clamp(20px, 18px + 1vw, 29px);
  letter-spacing: calc(1px + 0.018vw);
  font-weight: bold;
  font-family: "Labrada";
}

h4 {
  font-size: clamp(18px, 13px + 0.7vw, 22px);
  letter-spacing: calc(1px + 0.008vw);
  font-weight: bold;
  font-family: "Labrada";
}

h5 {
  font-size: clamp(16px, 11px + 0.4vw, 18px);
  letter-spacing: calc(0.8px + 0.008vw);
  font-weight: bold;
  font-family: "Labrada";
}

p {
  font-size: clamp(13px, 11px + 0.4vw, 18px);
  line-height: clamp(27px, 22px + 0.66vw, 33px);
  font-family: "Roboto";
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.dark .text-shadow {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.box-shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.dark .box-shadow {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.flip_hover:hover {
  animation: flip-horizontal-bottom 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-360deg);
  }
}
.midFlex,
.flexMid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.posMid,
.midPos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=style.css.map */