/* Utilisation des variables */
.bg-clip {
  background: linear-gradient(
    45deg,
    var(--color-background) 0%,
    var(--color-secondary) 100%
  );
}
.bg-clip-opacity {
  background: linear-gradient(
    45deg,
    var(--color-primary-op) 0%,
    var(--color-secondary-op) 100%
  );
}
.bg-clip-opacity-white {
  background:
    linear-gradient(
      45deg,
      var(--color-primary-op2) 0%,
      var(--color-secondary-op2) 100%
    );
}

.text-clip {
  background: linear-gradient(
    235deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  background-clip: text;
  color: transparent;
}

.textShadowClip {
  text-shadow: 1px 1px 3px var(--color-shadow);
}

.text-color1 {
  color: var(--color-primary);
}

.text-color2 {
  color: var(--color-secondary);
}

.customBorder {
  border: 1px solid var(--color-secondary);
}

.filterShadow {
  filter: drop-shadow(1px 1px 3px var(--color-shadow));
}

.customShadow {
  box-shadow: 0px 5px 8px 2px var(--color-shadow);
}

.customShadowLg {
  box-shadow: 0px 0px 15px 6px var(--color-shadow);
}
.customShadowXl {
  box-shadow: 0px 7px 30px 12px var(--color-shadow);
}

.bottomShadowL {
  box-shadow: 5px 0px 3px 0px var(--color-primary) inset,
    0px 5px 3px -2px var(--color-primary);
}

.bottomShadowR {
  box-shadow: 5px 5px 3px 0px var(--color-primary);
}

// .bg-clip {
//   background: linear-gradient(45deg, #f0910495 0%, rgb(228, 24, 235) 100%);
// }
// .text-clip {
//   // width: fit-content;
//   background: linear-gradient(
//     235deg,
//     #f09104 0%,
//     rgb(228, 24, 235) 100%
//   );
//   background-clip: text;
//   color: transparent;
// }

// .text-color1 {
//   color: rgb(240, 145, 4);
// }
// .text-color2 {
//   color: rgb(228, 24, 235);
// }

// .customBorder {
//   border: 1px solid rgb(228, 24, 235);
// }

// .filterShadow {
//   filter: drop-shadow(1px 1px 3px rgba(250, 142, 2, 0.75));
// }

// .customShadow {
//   box-shadow: 0px 5px 8px 2px rgba(250, 142, 2, 0.75);
// }

// .customShadowXl {
//   box-shadow: 0px 7px 30px 12px rgba(250, 142, 2, 0.88);
// }
// .bottomShadowL {
//   box-shadow: 5px 0px 3px 0px rgba(240, 145, 4, 0.5) inset,
//     0px 5px 3px -2px rgba(240, 145, 4, 0.5);
// }
// .bottomShadowR {
//   box-shadow: 5px 5px 3px 0px rgba(240, 145, 4, 0.5);
// }
