:root {
  --color-primary: rgb(255, 255,255);
  --color-secondary: rgb(255, 255,255);
  --color-background: rgb(255, 255,255);
  --color-shadow: rgb(255, 255,255);
  --color-primary-op: #ffffff99;
  --color-secondary-op: #ffffff99;
  --color-primary-op2: #ffffff15;
  --color-secondary-op2: #ffffff15;
  // --color-primary: #434343;
  // --color-secondary: #000000;
  // --color-background: #43434395;
  // --color-shadow: #434343bf;
  // --color-primary-op: #43434399;
  // --color-secondary-op: #00000099;
  // --color-primary-op2: #43434315;
  // --color-secondary-op2: #00000015;
}

[data-theme="sunshine"] {
  --color-primary: #f09104;
  --color-secondary: #e418eb;
  --color-background: #f0910495;
  --color-shadow: #fa8e02bf;
  --color-primary-op: #f0910499;
  --color-secondary-op: #e418eb99;
  --color-primary-op2: #f0910415;
  --color-secondary-op2: #e418eb15;
}
[data-theme="happy"] {
  --color-primary: #53c9d1;
  --color-secondary: #66a6ff;
  --color-background: #53c9d195;
  --color-shadow: #48a8afbf;
  --color-primary-op: #53c9d199;
  --color-secondary-op: #66a6ff99;
  --color-primary-op2: #53c9d115;
  --color-secondary-op2: #66a6ff15;
}
[data-theme="deep"] {
  --color-primary: #6a11cb;
  --color-secondary: #2575fc;
  --color-background: #6a11cb95;
  --color-shadow: #5d10afbf;
  --color-primary-op: #6a11cb99;
  --color-secondary-op: #2575fc99;
  --color-primary-op2: #6a11cb15;
  --color-secondary-op2: #2575fc15;
}
[data-theme="dark"] {
  --color-primary: #434343;
  --color-secondary: #000000;
  --color-background: #43434395;
  --color-shadow: #434343bf;
  --color-primary-op: #43434399;
  --color-secondary-op: #00000099;
  --color-primary-op2: #43434315;
  --color-secondary-op2: #00000015;
}
[data-theme="gray"] {
  --color-primary: #29323c;
  --color-secondary: #485563;
  --color-background: #29323c95;
  --color-shadow: #29323cbf;
  --color-primary-op: #29323c99;
  --color-secondary-op: #48556399;
  --color-primary-op2: #29323c15;
  --color-secondary-op2: #48556315;
}
[data-theme="salad"] {
  --color-primary: #96f7cb;
  --color-secondary: #50a7c2;
  --color-background: #96f7cb95;
  --color-shadow: rgba(143, 219, 185, 0.749);
  --color-primary-op: #96f7cb99;
  --color-secondary-op: #50a7c299;
  --color-primary-op2: #96f7cb15;
  --color-secondary-op2: #50a7c215;
}
