:root {
    // --color-primary: rgb(255, 255,255);
    // --color-secondary: rgb(255, 255,255);
    // --color-background: rgb(255, 255,255);
    // --color-shadow: rgb(255, 255,255);
    
    --color-primary: #f09104;
    --color-secondary: #e418eb;
    --color-background: #f0910495;
    --color-shadow: #fa8e02bf;
  }
  
  [data-theme="sunshine"] {
    --color-primary: #f09104;
    --color-secondary: #e418eb;
    --color-background: #f0910495;
    --color-shadow: #fa8e02bf;
  }
  [data-theme="happy"] {
    --color-primary: #53c9d1;
    --color-secondary: #66a6ff;
    --color-background: #53c9d195;
    --color-shadow: #48a8afbf;
  }
  [data-theme="deep"] {
    --color-primary: #6a11cb;
    --color-secondary: #2575fc;
    --color-background: #6a11cb95;
    --color-shadow: #5d10afbf;
  }
  [data-theme="dark"] {
    --color-primary: #434343 ;
    --color-secondary: #000000;
    --color-background: #43434395 ;
    --color-shadow: #434343bf;
  }
  [data-theme="gray"] {
    --color-primary: #29323c  ;
    --color-secondary: #485563;
    --color-background: #29323c95  ;
    --color-shadow: #29323cbf ;
  }
  [data-theme="salad"] {
    --color-primary: #96f7cb   ;
    --color-secondary: #50A7C2;
    --color-background: #96f7cb95   ;
    --color-shadow: rgba(143, 219, 185, 0.749)  ;
  }